<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Breakfast </title>
    <link rel="stylesheet" href="../css/breakfast.css">
</head>

<body>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!--1--->
    <div class="accordion-content">
        <h2><%= category %> </h2>
        <ul>
            <% for(let recipe of allRecipes){ %> 
                <li class="accordion-item">
                    <header class="item-header">
                        <h4 class="item-question">
                            <%= recipe.name %> 
                            <p><i>Calories: <%= recipe.calories %></i></p>
                        </h4>
                        <div class="item-icon">
                            <i class='bx bx-chevron-down'></i>
                        </div>
                    </header>
                    <div class="item-content">
                        <h5>Ingredients:</h5>
                        <ul>
                            <% for(let ingredient of recipe.ingredients){ %> 
                                <li><%= ingredient %> </li>
                            <% } %>
                        </ul>
                    </div>
                </li>
            <% } %>
        </ul>
        <!-- <div class="accordion-item">
            <header class="item-header">
                <h4 class="item-question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                </h4>
                <div class="item-icon">
                    <i class='bx bx-chevron-down'></i>
                </div>
            </header>
            <div class="item-content">
                <p class="item-answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum dolor sit amet, consectetur
                    adipiscing elitl
                </p>
                <p class="item-answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit,Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <header class="item-header">
                <h4 class="item-question">
                    Lorem ipsum dolor sit amet?
                </h4>
                <div class="item-icon">
                    <i class='bx bx-chevron-down'></i>
                </div>
            </header>
            <div class="item-content">
                <p class="item-answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <p class="item-answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit,Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <header class="item-header">
                <h4 class="item-question">
                    Lorem ipsum dolor sit amet, consectetur?</h4>
                <div class="item-icon">
                    <i class='bx bx-chevron-down'></i>
                </div>
            </header>
            <div class="item-content">
                <p class="item-answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit,Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
        <div class="accordion-item">
            <header class="item-header">
                <h4 class="item-question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                </h4>
                <div class="item-icon">
                    <i class='bx bx-chevron-down'></i>
                </div>
            </header>
            <div class="item-content">
                <p class="item-answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.
                </p>
                <p class="item-answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit,Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                </p>
            </div>
        </div> -->
    </div>

    <script src="../js/breakfast.js"></script>
</body>

</html>