<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FIT GYM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="css/demo.css"> <!-- Demo style -->

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
	
	

  	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" >
  		<div class="container">
  			<div class="row m-auto">
  				<div class="col-12 w-100 text-center">
  					<a class="navbar-brand w-100" href="index.html">FIT  GYM</a>
			      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="oi oi-menu"></span> Menu
			      </button>
  				</div>
  				<div class="col-12 w-100 text-center">
  					<div class="collapse navbar-collapse text-center w-100" id="ftco-nav" style="margin-right: 0% !important;flex-direction: column-reverse !important;">
			        <ul class="navbar-nav js-signin-modal-trigger">
			          <li class="nav-item active"><a href="#home" class="nav-link">Home</a></li>
			          <li class="nav-item"><a href="#aboutus" class="nav-link">About</a></li>
			          <li class="nav-item"><a href="#exercises" class="nav-link">Exercises</a></li>
			          <li class="nav-item"><a href="/dietrecommendations" class="nav-link">Diet</a></li>
			          <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
                	<li class="nav-item "><a class="nav-link" href="#0" data-signin="login">Login</a></li>
					<li class="nav-item "><a class="nav-link" href="#0" data-signin="signup">Sign up</a></li>
					
					</ul>
			    	</div>
				  
					
				
  				</div>
  			</div>
  		</div>
	  </nav>
	{{#if expressFlash}}
		<div class="notice success" style="text-align: center;"><i class="icon-remove-sign icon-large"></i> {{ expressFlash }}
		<a href="#close" class="icon-remove"></a></div>
		
	{{/if}}

	{{#if sessionFlash.message}}
		<div class="{{ sessionFlash.type }}">
			<div class="notice success"><i class="icon-remove-sign icon-large"></i> {{sessionFlash.message}}
			<a href="#close" class="icon-remove"></a></div>
			
			
		</div>
	{{/if}}
	  <div class="cd-signin-modal js-signin-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-signin-modal__container"> <!-- this is the container wrapper -->
			<ul class="cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
				<li><a href="#0" data-signin="login" data-type="login">Login</a></li>
				<li><a href="#0" data-signin="signup" data-type="signup">Sign-Up</a></li>
			</ul>

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="login"> <!-- log in form -->
				<form class="cd-signin-modal__form">
					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="login-email">E-mail</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="login-email" type="email" placeholder="E-mail">
						<span class="cd-signin-modal__error">Error message here!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="login-password">Password</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="login-password" type="text"  placeholder="Password">
						<a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>
						<span class="cd-signin-modal__error">Error message here!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input type="checkbox" id="remember-me" checked class="cd-signin-modal__input ">
						<label for="remember-me">Remember me</label>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width" id="loginSubmit" type="submit" value="Login">
					</p>
				</form>
				
				<p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="reset">Forgot your password?</a></p>
			</div> <!-- cd-signin-modal__block -->

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="signup"> <!-- sign up form -->
				<form class="cd-signin-modal__form">
					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace" for="signup-username">Username</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-username" name="signup-username" type="text" placeholder="Username">
						<span class="cd-signin-modal__error">Username is required</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signup-email">E-mail</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-email" name="signup-email" type="email" placeholder="E-mail">
						<span class="cd-signin-modal__error">Email is required</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-password">Password</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-password" name="signup-password" type="text"  placeholder="Password">
						<a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>
						<span class="cd-signin-modal__error">Password is required</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-password2">Retype Password</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-password2" name="signup-password2" type="text"  placeholder="Retype Password">
						<a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>
						<span class="cd-signin-modal__error">Password is required and should match</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace" for="signup-name">Name</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-name" name="signup-name" type="text" placeholder="Name">
						<span class="cd-signin-modal__error">Name is required</span>
					</p>

					<p class="cd-signin-modal__fieldset" style="width: 65%;display: inline-block;margin-right: 4%;margin-top: 0% !important; ">
						<label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-phone">Mobile Number</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-phone" name="signup-phone" type="text"  placeholder="Mobile Number">
						
						<span class="cd-signin-modal__error">Phone number is required</span>
					</p>

					<p class="cd-signin-modal__fieldset" style="width: 30%;display: inline-block;margin-top: 0% !important;">
						<label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-age">Age</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-age" name="signup-age"  type="text"  placeholder="Age">
						<span class="cd-signin-modal__error">Age is required</span>
					</p>

					<p class="cd-signin-modal__fieldset" style="width: 48%;display: inline-block;margin-right: 3%;margin-top: 0% !important;">
						<label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-weight">Weight</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-weight" name="signup-weight" type="text"  placeholder="Weight">
						<span class="cd-signin-modal__error">Weight is required</span>
					</p>

					<p class="cd-signin-modal__fieldset" style="width: 48%;display: inline-block;margin-top: 0% !important;">
						<label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-height">Height</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-height" name="signup-height" type="text"  placeholder="Height">
						<span class="cd-signin-modal__error">Height is required</span>
					</p>

					<p class="cd-signin-modal__fieldset " style="margin-top: 0% !important;">
						<label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-dob">Date of Birth</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-dob" name="signup-dob" type="date"  placeholder="dd-mm-yyyy" style="color: grey;">
						<span class="cd-signin-modal__error">Date of birth is required</span>
					</p>


					<div class="custom-control custom-radio" style="width: 48%;display: inline-block;margin-top: 0% !important;margin-bottom: 0%;" >
						<input type="radio" class="custom-control-input" id="male" name="gender" value="male">
						<label class="custom-control-label" for="male" style="padding-left: 8%;">Male</label>
					  </div>
					  
					  <!-- Group of default radios - option 2 -->
					  <div class="custom-control custom-radio" style="width: 48%;display: inline-block;">
						<input type="radio" class="custom-control-input" id="female" name="gender" value="female">
						<label class="custom-control-label" for="female" style="padding-left: 8%;">Female</label>
					  </div>


					

					<p class="cd-signin-modal__fieldset">
						<input type="checkbox" id="accept-terms" class="cd-signin-modal__input ">
						<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding" type="submit" id="submitRegister" value="Create account">
					</p>
				</form>
			</div> <!-- cd-signin-modal__block -->

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="reset"> <!-- reset password form -->
				<p class="cd-signin-modal__message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

				<form class="cd-signin-modal__form">
					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="reset-email">E-mail</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-signin-modal__error">Error message here!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding" type="submit" value="Reset password">
					</p>
				</form>

				<p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="login">Back to log-in</a></p>
			</div> <!-- cd-signin-modal__block -->
			<a href="#0" class="cd-signin-modal__close js-close">Close</a>
		</div> <!-- cd-signin-modal__container -->
	</div> <!-- cd-signin-modal -->
    <!-- END nav -->
    <section class="home-slider js-fullheight owl-carousel" id="home">
      <div class="slider-item js-fullheight" style="background-image:url(images/bg_1.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 text ftco-animate text-center">
            <h1 class="mb-4">Workout at your OWN SPACE &amp; TIME</h1>
            <h3 class="subheading">An AI based Workout Assistant and Fitness Guide</h3>
            <p><a href="#" class="btn btn-white btn-outline-white px-4 py-3 mt-3">View our works</a></p>
          </div>
        </div>
        </div>
      </div>

      <div class="slider-item js-fullheight" style="background-image:url(images/bg_2.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 text ftco-animate text-center">
            <h1 class="mb-4">A Smart solution to stay Fit &amp; Healthy</h1>
            <h3 class="subheading">Your Health is Our Top Priority with Smart &amp; Intelligent system.</h3>
            <p><a href="#" class="btn btn-white btn-outline-white px-4 py-3 mt-3">View our works</a></p>
          </div>
        </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light" id="exercises">
			<div class="container">
				<div class="row">
					<div class="col-md-4 d-flex align-items-stretch">
						<div class="offer-deal text-center">
							<div class="img" style="background-image: url(images/bicepcurl.jpg);width: 300px;height:300px;"></div>
							<div class="text mt-4">
								<h3 class="mb-4">Bicep Curl</h3>
								<p class="mb-5"> Biceps collaborate in forearm supination, elbows flexion, and shoulder stabilization so stronger biceps help you to maintain a healthy upper body. </p>
								<div>
                <p style="width: 40%;display: inline;"><a href="exercise/bicepcurl" class="btn btn-outline-primary px-4 py-3" > Tutorial <span class="ion-ios-arrow-round-forward"></span></a></p>
                <p style="width: 40%;display: inline;"><a href="models/bicepcurlmodel" class="btn btn-outline-primary px-4 py-3"> Exercise Model <span class="ion-ios-arrow-round-forward"></span></a></p>
							</div>
            </div>
						</div>
					</div>
					<div class="col-md-4 d-flex align-items-stretch">
						<div class="offer-deal text-center">
							<div class="img" style="background-image: url(images/squat.jpg);width: 300px;height:300px;"></div>
							<div class="text mt-4">
								<h3 class="mb-4">Squats</h3>
								<p class="mb-5">As you exercise, the movement strengthens your tendons, bones, and ligaments around the leg muscles.They also lower your chances of injuring your knees and ankles.</p>
                <div>
                  <p style="width: 40%;display: inline;"><a href="exercise/squats" class="btn btn-outline-primary px-4 py-3" > Tutorial <span class="ion-ios-arrow-round-forward"></span></a></p>
                  <p style="width: 40%;display: inline;"><a href="models/squatsmodel" class="btn btn-outline-primary px-4 py-3"> Exercise Model <span class="ion-ios-arrow-round-forward"></span></a></p>
                </div>
              </div>
						</div>
					</div>
					<div class="col-md-4 d-flex align-items-stretch">
						<div class="offer-deal text-center">
							<div class="img" style="background-image: url(images/pushups.jpg);width: 300px;height:300px;"></div>
							<div class="text mt-4">
								<h3 class="mb-4">Push Ups</h3>
								<p class="mb-5">When done with proper form, they can strengthen the lower back and core by engaging the abdominal muscles. Pushups are a fast and effective exercise for building strength.</p>
								<div>
                  <p style="width: 40%;display: inline;"><a href="exercise/pushups" class="btn btn-outline-primary px-4 py-3"> Tutorial <span class="ion-ios-arrow-round-forward"></span></a></p>
                  <p style="width: 40%;display: inline;"><a href="models/pushupsmodel" class="btn btn-outline-primary px-4 py-3" > Exercise Model <span class="ion-ios-arrow-round-forward"></span></a></p>
                </div></div>
						</div>
					</div>
					
				</div>
        <div class="row" style="margin-top: 5%;">
					<div class="col-md-4 d-flex align-items-stretch">
						<div class="offer-deal text-center">
							<div class="img" style="background-image: url(images/lunges.jpg);width: 300px;height:300px;"></div>
							<div class="text mt-4">
								<h3 class="mb-4">Lunges</h3>
								<p class="mb-5">Lunges increase muscle mass to build up strength and tone your body, especially your core, butt, and legs. You'll also improve your posture and range of motion.</p>
								<div>
                <p style="width: 40%;display: inline;"><a href="exercise/lunges" class="btn btn-outline-primary px-4 py-3" > Tutorial <span class="ion-ios-arrow-round-forward"></span></a></p>
                <p style="width: 40%;display: inline;"><a href="models/lungesmodel" class="btn btn-outline-primary px-4 py-3"> Exercise Model <span class="ion-ios-arrow-round-forward"></span></a></p>
							</div>
            </div>
						</div>
					</div>
					<div class="col-md-4 d-flex align-items-stretch">
						<div class="offer-deal text-center">
							<div class="img" style="background-image: url(images/jumpingjacks.jpg);width: 300px;height:300px;"></div>
							<div class="text mt-4">
								<h3 class="mb-4">Jumping Jacks</h3>
								<p class="mb-5">Jumping jacks are a full body workout that can target major muscle groups, strengthen bones, and improve cardiovascular fitness and heart health.</p>
                <div>
                  <p style="width: 40%;display: inline;"><a href="exercise/jumpingjacks" class="btn btn-outline-primary px-4 py-3" > Tutorial <span class="ion-ios-arrow-round-forward"></span></a></p>
                  <p style="width: 40%;display: inline;"><a href="models/jumpingjacksmodel" class="btn btn-outline-primary px-4 py-3"> Exercise Model <span class="ion-ios-arrow-round-forward"></span></a></p>
                </div>
              </div>
						</div>
					</div>
					<div class="col-md-4 d-flex align-items-stretch">
						<div class="offer-deal text-center">
							<div class="img" style="background-image: url(images/wall-push-up.png);width: 300px;height:300px;"></div>
							<div class="text mt-4">
								<h3 class="mb-4">Wall Push Ups</h3>
								<p class="mb-5"> Help improve your postural stability, balance, and upper body mobility. Wall pushups target the upper body muscles, such as the chest, arms, and shoulders, as mobilizers.</p>
								<div>
                  <p style="width: 40%;display: inline;"><a href="exercise/wall-push-ups" class="btn btn-outline-primary px-4 py-3" > Tutorial <span class="ion-ios-arrow-round-forward"></span></a></p>
                  <p style="width: 40%;display: inline;"><a href="models/wall-push-ups-model" class="btn btn-outline-primary px-4 py-3"> Exercise Model <span class="ion-ios-arrow-round-forward"></span></a></p>
                </div></div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
    
    

    

    <section class="ftco-section" style="margin-top: 2%;padding-top: 0%;" id="aboutus">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-12 heading-section ftco-animate text-center">
            <h2 class="mb-1">About Us</h2>
          </div>
        </div>
    		<div class="row" >
          <div class="blog-entry blog-entry-2 justify-content-end d-md-flex w-100">
            <a href="blog-single.html" class="block-20" style="background-image: url('images/about.jpg');margin-top: 2%;width: 55%;height: 400px;">
            </a>
            <div class="text pl-md-4 ml-md-2 pt-4">
              
              
              <p style="font-size: medium;">Nowadays virtual assistant is playing a very important role in our daily activities and has become an inseparable part of our lives. As per the Clutch survey report that was published in 2019, almost 27% of people are using AI virtual assistants for performing their day-to-day activities. AI is an emerging field that we aim to explore through this project of AI-based workout assistants. In our work, we introduce Fitcercise, an application that detects the user’s exercise pose counts the specified exercise repetitions and provides personalized, detailed recommendations on how the user can improve their form. The application uses the MediaPipe to detect a person’s pose, and afterwards analyses the geometry of the pose from the dataset and real-time video and counts the repetitions of the particular exercise.</p>
              <p><a href="#" class="btn btn-outline-primary">Learn more</a></p>
            </div>
          </div>

    		

    		
    		</div>
    	</div>
    </section>



    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-12 heading-section ftco-animate text-center">
            <h2 class="mb-1">Experience of Exercises</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-4">
    				<div class="services-2 ftco-animate d-flex w-100">
							<div class="icon d-flex justify-content-center align-items-center order-md-last">
								<span class="flaticon-meditation"></span>
							</div>
							<div class="text text-md-right pl-4 pl-md-0 pr-md-4">
								<h3>Balance Body &amp; Mind</h3>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
							</div>
						</div>
						<div class="services-2 ftco-animate d-flex w-100">
							<div class="icon d-flex justify-content-center align-items-center order-md-last">
								<span class="flaticon-meditation"></span>
							</div>
							<div class="text text-md-right pl-4 pl-md-0 pr-md-4">
								<h3>Healthy Daily Life</h3>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
							</div>
						</div>
						<div class="services-2 ftco-animate d-flex w-100">
							<div class="icon d-flex justify-content-center align-items-center order-md-last">
								<span class="flaticon-meditation"></span>
							</div>
							<div class="text text-md-right pl-4 pl-md-0 pr-md-4">
								<h3>Improves your flexibility</h3>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
							</div>
						</div>
						<div class="services-2 ftco-animate d-flex w-100">
							<div class="icon d-flex justify-content-center align-items-center order-md-last">
								<span class="flaticon-meditation"></span>
							</div>
							<div class="text text-md-right pl-4 pl-md-0 pr-md-4">
								<h3>Protects your spine</h3>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
							</div>
						</div>
    			</div>

    			<div class="col-md-4 d-flex">
    				<div class="img img-services w-100" style="background-image: url(images/services.jpg);"></div>
    			</div>

    			<div class="col-md-4">
    				<div class="services-2 ftco-animate d-flex w-100">
							<div class="icon d-flex justify-content-center align-items-center\">
								<span class="flaticon-meditation"></span>
							</div>
							<div class="text text-left pl-4">
								<h3>Betters your bone health</h3>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
							</div>
						</div>
						<div class="services-2 ftco-animate d-flex w-100">
							<div class="icon d-flex justify-content-center align-items-center\">
								<span class="flaticon-meditation"></span>
							</div>
							<div class="text text-left pl-4">
								<h3>Increases your blood flow</h3>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
							</div>
						</div>
						<div class="services-2 ftco-animate d-flex w-100">
							<div class="icon d-flex justify-content-center align-items-center\">
								<span class="flaticon-meditation"></span>
							</div>
							<div class="text text-left pl-4">
								<h3>Keep a practice journal</h3>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
							</div>
						</div>
						<div class="services-2 ftco-animate d-flex w-100">
							<div class="icon d-flex justify-content-center align-items-center\">
								<span class="flaticon-meditation"></span>
							</div>
							<div class="text text-left pl-4">
								<h3>Builds muscle strength</h3>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
							</div>
						</div>
    			</div>
    		</div>
    	</div>
    </section>

   

    
		

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-10 heading-section ftco-animate text-center">
            <h3 class="subheading">Testimony</h3>
            <h2 class="mb-1">Successful Stories</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="text">
                  	<div class="line">
	                    <p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	                    <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
	                  </div>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(images/person_1.jpg)">
		                  </div>
		                  <div class="ml-4">
		                  	<p class="name">Gabby Smith</p>
		                    <span class="position">Customer</span>
		                  </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="text">
                    <div class="line">
	                    <p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	                    <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
	                  </div>

                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(images/person_2.jpg)">
		                  </div>
		                  <div class="ml-4">
		                  	<p class="name">Floyd Weather</p>
		                    <span class="position">Customer</span>
		                  </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="text">
                    <div class="line">
	                    <p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	                    <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
	                  </div>

                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(images/person_3.jpg)">
		                  </div>
		                  <div class="ml-4">
		                  	<p class="name">James Dee</p>
		                    <span class="position">Customer</span>
		                  </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="text">
                    <div class="line">
	                    <p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	                    <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
	                  </div>

                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(images/person_4.jpg)">
		                  </div>
		                  <div class="ml-4">
		                  	<p class="name">Lance Roger</p>
		                    <span class="position">Customer</span>
		                  </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="text">
                    <div class="line">
	                    <p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	                    <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
	                  </div>

                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(images/person_2.jpg)">
		                  </div>
		                  <div class="ml-4">
		                  	<p class="name">Kenny Bufer</p>
		                    <span class="position">Customer</span>
		                  </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-counter img" id="section-counter" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center">
        	<div class="col-md-10">
        		<div class="row">
		          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		              	<strong class="number" data-number="2560">0</strong>
		              	<span>Happy Customers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		              	<strong class="number" data-number="60">0</strong>
		              	<span>Exercises Classes</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		              	<strong class="number" data-number="50">0</strong>
		              	<span>Years of Experience</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		              	<strong class="number" data-number="100">0</strong>
		              	<span>Exercises Conducted</span>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
        </div>
      </div>
    </section>

   

		

    <footer class="ftco-footer ftco-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Meditative</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="ftco-footer-social list-unstyled float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Popular Links</h2>
              <ul class="list-unstyled">
                <li><a href="#">Exercises for Beginners</a></li>
                <li><a href="#">Exercises for Pregnant</a></li>
                <li><a href="#">Exercises Barre</a></li>
                <li><a href="#">Exercises Advance</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Classes</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p class="mb-0">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>
                document.write(new Date().getFullYear());

              </script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>
    
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  <script src="js/placeholders.min.js"></script> <!-- polyfill for the HTML5 placeholder attribute -->
  <script src="js/maincopy.js"></script>
  <script src="js/main.js"></script> <!-- Resource JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
  <script src="js/login.js"></script>
<script>
	$(document).on('click', '.notice a[class^="icon-remove"]', function(e){
		e.preventDefault();
		var notice = $(this).parents('.notice');
		$(this).hide();
		notice.fadeOut('slow');
	});
</script>
  </body>
</html>